<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuure Hibernate connection to db -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost/learnSpring?createDatabaseIfNotExist=true&amp;useUnicode=yes&amp;characterEncoding=UTF-8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"/>

        <mapping class="pr.eleks.we_at_her.topic.Topic"/>
        <mapping class="pr.eleks.we_at_her.course.Course"/>
    </session-factory>
</hibernate-configuration>