div.centered {
    text-align: center;
}

table.centered {
    display: inline-block;
}

table.centered th, table.centered td {
    padding: 15px;
    font-size: 20px;
}

table.data tbody {
    overflow: auto;
    height: 450px;
}

table.data, table.data th, table.data td {
    border: solid black 1px;
    border-collapse: collapse;
}

nav {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-size: 2em;
}

nav a, h1 a {
    text-decoration: none;
    box-shadow: black 0 0 2px 0;
    border-radius: 15px;
    padding: 2px 5px;
    color: black;
    font-weight: normal;
}

nav a:hover, h1 a:hover {
    box-shadow: none;
}

.error {
    color: crimson;
    font-weight: bold;
}

.active {
    font-weight: bold;
}

#controls {
    margin-block-end: 20px;
    font-size: 18px;
}

#controls button {
    padding: 15px;
    margin: 0 50px;
}

#controls label {
    font-size: 20px;
}

#controls input[type="text"] {
    margin: 0 30px;
}

#controls input[type="submit"] {
    padding: 15px;
}

