<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>We at here</title>
    <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>
<div class="centered">
    <nav><a href="/">Weather Samples</a> <a href="#" class="active">Blog</a></nav>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]! <a href="/logout">Logout</a></h1>
    <div id="controls">
        <button onclick="window.location.href='/blog'">Refresh data</button>
        <form action="/blog" method="post">
            <label for="blogPostText">Post message</label>
            <input id="blogPostText" type="text" name="blogPostText"/>
            <input type="hidden" name="authorUsername" th:value="${#httpServletRequest.remoteUser}"/>
            <input type="submit" value="Post"/>
        </form>
    </div>
    <table class="centered data">
        <thead>
        <tr>
            <th>Id</th>
            <th>Author</th>
            <th>Text</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${blogPostDtoList}">
            <td th:text="${el.id}">Id</td>
            <td th:text="${el.authorUsername}">City Name</td>
            <td th:text="${el.text}">Temperature</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>