<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>We at here</title>
    <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>
<div class="centered">
    <h1><a href="#" class="active">Weather Samples</a> <a href="/blog">Blog</a></h1>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]! <a href="/logout">Logout</a></h1>
    <div id="controls">
        <button onclick="window.location.href='/'">Refresh data</button>
    </div>
    <table class="centered data">
        <thead>
        <tr>
            <th>Id</th>
            <th>City Name</th>
            <th>Temperature, °C</th>
            <th>Feels Like, °C</th>
            <th>Pressure, hPa</th>
            <th>Humidity, %</th>
            <th>Clouds, %</th>
            <th>City Id</th>
            <th>Time, s</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${weatherSampleDtoList}">
            <td th:text="${el.id}">Id</td>
            <td th:text="${el.cityName}">City Name</td>
            <td th:text="${el.temperature}">Temperature</td>
            <td th:text="${el.feelsLike}">Feels Like</td>
            <td th:text="${el.pressure}">Pressure</td>
            <td th:text="${el.humidity}">Humidity</td>
            <td th:text="${el.clouds}">Clouds</td>
            <td th:text="${el.cityId}">City Id</td>
            <td th:text="${el.time}">Time</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>