<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>We at here</title>
    <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>

<!--<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->
<!--<form th:action="@{/logout}" method="post">-->
<!--    <input type="submit" value="Sign Out"/>-->
<!--</form>-->

<div class="centered">
    <h1>Hello to We at here</h1>
    <form th:action="@{/login}" method="post">
        <table class="centered">
            <tr>
                <td colspan="2">
                    <div th:if="${(param.logout == null && param.error == null)}">
                        Please Log in.
                    </div>
                    <div class="error" th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                </td>
            </tr>
            <tr>
                <td><label> Username : </label></td>
                <td><input type="text" name="username"/></td>
            </tr>
            <tr>
                <td><label> Password: </label></td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td>
                    <button type="button" onclick="window.location.href='/register'">Register</button>
                </td>
                <td><input type="submit" value="Login"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>