<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>

<div class="centered">
    <h1>Hello to We at here</h1>
    <form th:action="@{/register}" method="post">
        <table class="centered">
            <tr>
                <td colspan="2">
                    <div th:if="${(param.logout == null && param.error == null)}">
                        Please Register.
                    </div>
                    <div class="error" th:if="${param.error}">
                        Username is taken.
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="username"> Username: </label></td>
                <td><input id="username" type="text" name="username"/></td>
            </tr>
            <tr>
                <td><label for="password"> Password: </label></td>
                <td><input id="password" type="password" name="password"/></td>
            </tr>
            <tr>
                <td><label for="email"> Email: </label></td>
                <td><input id="email" type="email" name="email"/></td>
            </tr>
            <tr>
                <td><label for="city"> City: </label></td>
                <td><input id="city" type="text" name="city"/></td>
            </tr>
            <tr>
                <td>
                    <button type="button" onclick="window.location.href='/login'">Login</button>
                </td>
                <td><input type="submit" value="Register"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>